<div class="weather-container">
    <div class="weather-frame">
        <div id="lilBack"></div>
        <h3>Sprawdź swoją pogodę</h3>

        <form form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
                <label> Miasto </label>
                <input type="text" class="form-control" name="simpleCity" required ngModel>
            </div>

            <button
                    class="btn-one btn btn-primary"
                    type="submit"
                    [disabled]="!f.valid">
                Szukaj
            </button>
        </form>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">

                <div class="alert alert-danger" *ngIf="isFetching === false && wheaterData === undefined">
                    <h2>Error!</h2>
                    <p>Nie ma takiego miasta!</p>
                </div>

                <ul class="list-group" *ngIf="wheaterData !== undefined">
                    <li class="list-group-item">
                        <h2>{{wheaterData.name }}</h2>
                        <i>{{wheaterData.weather[0].description}}</i>
                        <img src="http://openweathermap.org/img/w/{{wheaterData.weather[0].icon}}.png" alt="">

                        <p>Temperatura: {{wheaterData.main.temp}} &#8451;</p>
                        <p>Temperatura odczuwalna: {{wheaterData.main.feels_like}} &#8451;</p>
                        <p>Ciśnienie: {{wheaterData.main.pressure}} hPa</p>
                        <p>Wilgotność: {{wheaterData.main.humidity}} %</p>
                        <p>Szybkość wiatru: {{wheaterData.wind.speed}} </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
